// Fonts
$primary-font: 'Raleway';
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Colors
$white: #fafafa;
$black: #57595b;
// Breakpoints

$break-point-desktop-large: 1441px;
$break-point-desktop-small: 1200px;
$break-point-table-lg: 992px;
$break-point-tablet: 768px;
$break-point-phone: 575px;
